.navbar {
  background-color: #221f1f !important;
}
.navbar-nav a {
  color: white;
}
.navbar-toggler-icon {
  color: white !important;
}
.navbar-link {
  color: white !important;
}
.active {
  color: fuchsia !;
}
